body {
  margin: 0;
}

.bg-image {
  max-width: 100%;
}

.footer1 {
  background-color: whitesmoke;
  margin: 0;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

.heading {
  margin: 0;
  color: white;
  font-family: "Merriweather";
  left: 470px;
  top: 420px;
  position: absolute;
  text-align: center;
}

form {
  position: relative;
  top: 10px;
  margin: 30px;
  max-width: 500px;
  padding: 20px;
  color: black;
  font-family: bold;
  font-size: larger;
  background-color: whitesmoke;
  font-family: "Merriweather";
  float: left;
}

h6 {
  color: rgb(182, 241, 94);
}

button:hover {
  background-color: darkgreen;
}

.wrapper{
    width: 90%;
    padding-left: 10%;
}

.crop-image{
  float: left;
  width: 10px;
  height: auto;

}

.content{
  text-align: center;
  font-family: "Montserrat";
  padding-left: 210px;
}

.firstpara{
  padding-top: 50px;
}

.para{
  line-height: 2;
  width: 80%;
  text-align: center;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}